@font-face {
    font-family: "dancing";
    src: url("../fonts/DancingScript-Regular.ttf");
}

@font-face {
    font-family: "lobster";
    src: url("../fonts/Lobster-Regular.ttf");
}

@font-face {
    font-family: "pacifico";
    src: url("../fonts/Pacifico-Regular.ttf");
}