@media (max-width: 1200px) {

    section {
        margin-top: 5rem;
    }
    
    header, 
    .section-two {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
    }

    .section-one,
    .section-three {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
    }

    header div h1 {
        font-size: 5em;
    }

    header img,
    section img {
        max-width: 100%;
    }

    .contact,
    footer .contact {
        font-size: 2em;
        padding-bottom: 1rem;
    }

 
}