@media (max-width: 1200px) {

    header, section {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
    }

    div {
        position: absolute;
        display: flex;
        flex-direction: column;
    }

    header div h1 {
        font-size: 10rem;
    }

    img {
        margin-top: 45rem;
        max-width: 100%;
    }
    
}